.banner-wrapper {
  width: 100%;
}

.banner-wrapper .banner-wrapper-header {
  position: relative;
  height: 33.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-wrapper .banner-wrapper-header .banner-image {
  width: 100%;
  height: 33.75rem;
  object-fit: cover;
  object-position: center;
  object-position: 80% 24%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.banner-wrapper .banner-wrapper-header .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  text-align: center;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  margin-top: auto;
  line-height: 1;
  z-index: 1;
  height: 100%;
}

.banner-wrapper .title-container .title {
  color: rgba(255, 255, 255);
  font-weight: bold;
  max-width: 17.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  line-height: 1.125;
  letter-spacing: -0.5px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .banner-wrapper .banner-wrapper-header {
    height: 43.25rem;
  }
  .banner-wrapper .banner-wrapper-header .banner-image {
    height: 43.25rem;
  }

  .banner-wrapper .banner-wrapper-header .title-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .banner-wrapper .title-container .title {
    font-size: 3.75rem;
    line-height: 1.125;
    letter-spacing: -2px;
    max-width: none;
  }
}
